:root {
  --darkBlue: hsl(203, 100%, 24%); // #004a78
  --lightBlue: hsl(192, 100%, 38%); // #009bc1
  --gold: hsl(54,77%,75%); // #f0e68c
  --darkGold: hsl(40, 76%, 50%); // #df9f1f
  --lightGold: hsl(40, 69%, 64%); // #E3B964
  --aqua:  	hsl(185, 92%, 35%); // #079eab
  --black: hsl(0, 0%, 6%); // #0f0f0f
  --white: hsl(0, 0%, 100%); // #ffffff
}