@use '../util' as *;

  .blog {

    &__content {
      display: flex;
      flex-direction: column;
      padding-bottom: rem(60);
      margin-bottom: 0;

      &--single {
        display: flex;
        flex-direction: row;
        padding-bottom: rem(60);

        @include breakpoint-down(small) {
          flex-direction: column;
        }
      }
    }

    &__header {
      font-size: 3rem;
      font-weight: 900;
      color: var(--white);
      background-color: var(--darkBlue);
      margin-top: 2rem;
      padding: rem(10);
    }



    &__sidebar {
      flex: 1;
      padding: rem(20);
      text-align: center;

      @include breakpoint-down(small) {
        order: 1;
      }

      &--profileImage {
        padding: rem(30);
      }
    }

    &__main {
      flex: 4;
      padding: rem(20);

      @include breakpoint-down(small) {
        order: 2;
      }
    }

    &__feature {

      &--default {
        background: url("img/hero_blog_1920x600-min.jpg") no-repeat;
        background-size: cover;
        background-position: center top;
      }
    }

    &__post {
      border-bottom: rem(1) solid var(--darkBlue);
      position: relative;
      margin: 0 auto;

      &:last-child {
        border-bottom: none;
      }

      h2 {
        margin-bottom: 0;
      }

      h2 a {
        color: var(--darkBlue);
      }
    }

    &__spacer {
      color: var(--darBlue);
    }

    &__hero {

      &--image {
        width: 100%;
        margin: rem(30) 0;
        border: rem(5) solid var(--darkBlue);
      }
    }

    &__pagination {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: rem(20);
    }
  }

  .category {
    margin-top: rem(5);
  }

  .post-details {
    font-size: rem(14);
    font-weight: 500;
    margin-top: 0;

    a {
      color: var(--darkBlue);
      text-decoration: underline;
    }
    
  }

  h1.blogHeading {
      color: var(--white);
      font-size: rem(60);
      font-weight: 500;
      margin-bottom: 0;
    }